In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [6]:
# KS102SC median age
# Table KS201SC - Ethnic group
# Table KS204SC - Country of birth
# Table KS501SC - Qualifications and students

In [69]:
Score_16 = pd.read_csv('E:/文档/Urban Analytics/Dissertation/Data/Score_16.csv')
Score_16

,Unnamed: 0,index,Data_Zone,income_rate_reverse,employment_rate_reverse,HESA,DataZone,50%,0
0,0,0,S01009758,0.93,0.95,0.12,S01009758,57916.666667,6703.500931
1,1,1,S01009759,0.62,0.73,0.04,S01009759,47500.000000,-3713.165738
2,2,2,S01009760,0.74,0.76,0.11,S01009760,45416.666667,-5796.499070
3,3,3,S01009761,0.89,0.92,0.12,S01009761,62997.500000,11784.334264
4,4,4,S01009762,0.70,0.80,0.02,S01009762,24749.375000,-26463.790737
...,...,...,...,...,...,...,...,...,...
712,712,713,S01010499,0.58,0.64,0.02,S01010499,21248.750000,-29964.415738
713,713,714,S01010500,0.66,0.73,0.03,S01010500,56250.000000,5036.834262
714,714,715,S01010501,0.75,0.80,0.04,S01010501,42497.500000,-8715.665737
715,715,716,S01010502,0.80,0.85,0.03,S01010502,46957.500000,-4255.665737
716,716,717,S01010503,0.66,0.74,0.02,S01010503,26000.000000,-25213.165737

In [70]:
age = pd.read_csv('E:/文档/Urban Analytics/Dissertation/Data/SNS Data Zone 2011 std/KS102SC.csv')
ethnic = pd.read_csv('E:/文档/Urban Analytics/Dissertation/Data/SNS Data Zone 2011 std/KS201SC.csv')

In [71]:
age = age.loc[:,['Unnamed: 0','Mean age']]
age

                                             Unnamed: 0  Mean age
0                                              Scotland      40.3
1                                             S01006506      40.6
2                                             S01006507      42.8
3                                             S01006508      38.6
4                                             S01006509      42.4
...                                                 ...       ...
6976                                          S01013481      44.4
6977                                                NaN       NaN
6978                               Crown copyright 2013       NaN
6979  For further information on variables, see www....       NaN
6980  In order to protect against disclosure of pers...       NaN

[6981 rows x 2 columns]

In [72]:
ethnic['non_White_rate'] = ethnic['non_White'] / ethnic['All people']
ethnic = ethnic.loc[:,['Unnamed: 0','non_White_rate']]
ethnic

                                             Unnamed: 0  non_White_rate
0                                              Scotland        0.075948
1                                             S01006506        0.060780
2                                             S01006507        0.068182
3                                             S01006508        0.094868
4                                             S01006509        0.094828
...                                                 ...             ...
6976                                          S01013481        0.042129
6977                                                NaN             NaN
6978                               Crown copyright 2013             NaN
6979  For further information on variables, see www....             NaN
6980  In order to protect against disclosure of pers...             NaN

[6981 rows x 2 columns]

In [73]:
df_16 = pd.merge(Score_16, age, left_on = 'Data_Zone', right_on = 'Unnamed: 0', how = 'left')
df_16 = pd.merge(df_16, ethnic, left_on = 'Data_Zone', right_on = 'Unnamed: 0', how = 'left')
df_16

,Unnamed: 0_x,index,Data_Zone,income_rate_reverse,employment_rate_reverse,HESA,DataZone,50%,0,Unnamed: 0_y,Mean age,Unnamed: 0,non_White_rate
0,0,0,S01009758,0.93,0.95,0.12,S01009758,57916.666667,6703.500931,S01009758,42.7,S01009758,0.135452
1,1,1,S01009759,0.62,0.73,0.04,S01009759,47500.000000,-3713.165738,S01009759,30.0,S01009759,0.192719
2,2,2,S01009760,0.74,0.76,0.11,S01009760,45416.666667,-5796.499070,S01009760,35.8,S01009760,0.135498
3,3,3,S01009761,0.89,0.92,0.12,S01009761,62997.500000,11784.334264,S01009761,38.7,S01009761,0.229670
4,4,4,S01009762,0.70,0.80,0.02,S01009762,24749.375000,-26463.790737,S01009762,34.3,S01009762,0.171706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,712,713,S01010499,0.58,0.64,0.02,S01010499,21248.750000,-29964.415738,S01010499,39.3,S01010499,0.258178
713,713,714,S01010500,0.66,0.73,0.03,S01010500,56250.000000,5036.834262,S01010500,30.0,S01010500,0.094620
714,714,715,S01010501,0.75,0.80,0.04,S01010501,42497.500000,-8715.665737,S01010501,37.1,S01010501,0.035560
715,715,716,S01010502,0.80,0.85,0.03,S01010502,46957.500000,-4255.665737,S01010502,33.2,S01010502,0.052304
716,716,717,S01010503,0.66,0.74,0.02,S01010503,26000.000000,-25213.165737,S01010503,40.2,S01010503,0.064122

In [76]:
SIMD2016 = pd.read_csv("E:/文档/Urban Analytics/Dissertation/Data/simd2016_withgeog/simd2016_withgeog/simd2016_withinds.csv")
SIMD2016 = SIMD2016.loc[:,['Data_Zone','drive_petrol','drive_GP','drive_PO','drive_primary','drive_retail','drive_secondary']]

In [77]:
df_16 = pd.merge(df_16, SIMD2016, left_on = 'Data_Zone', right_on = 'Data_Zone', how = 'left')
df_16

,Unnamed: 0_x,index,Data_Zone,income_rate_reverse,employment_rate_reverse,HESA,DataZone,50%,0,Unnamed: 0_y,Mean age,Unnamed: 0,non_White_rate,drive_petrol,drive_GP,drive_PO,drive_primary,drive_retail,drive_secondary
0,0,0,S01009758,0.93,0.95,0.12,S01009758,57916.666667,6703.500931,S01009758,42.7,S01009758,0.135452,1.8,2.7,2.5,2.9,2.9,4.3
1,1,1,S01009759,0.62,0.73,0.04,S01009759,47500.000000,-3713.165738,S01009759,30.0,S01009759,0.192719,3.5,1.5,1.7,1.4,3.2,6.4
2,2,2,S01009760,0.74,0.76,0.11,S01009760,45416.666667,-5796.499070,S01009760,35.8,S01009760,0.135498,2.3,1.6,1.6,1.5,2.6,5.4
3,3,3,S01009761,0.89,0.92,0.12,S01009761,62997.500000,11784.334264,S01009761,38.7,S01009761,0.229670,2.2,2.4,2.2,2.4,2.6,5.0
4,4,4,S01009762,0.70,0.80,0.02,S01009762,24749.375000,-26463.790737,S01009762,34.3,S01009762,0.171706,2.7,1.0,1.0,1.1,2.7,5.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,712,713,S01010499,0.58,0.64,0.02,S01010499,21248.750000,-29964.415738,S01010499,39.3,S01010499,0.258178,3.8,1.5,1.6,1.2,2.2,2.9
713,713,714,S01010500,0.66,0.73,0.03,S01010500,56250.000000,5036.834262,S01010500,30.0,S01010500,0.094620,1.5,2.2,1.9,1.6,2.9,4.1
714,714,715,S01010501,0.75,0.80,0.04,S01010501,42497.500000,-8715.665737,S01010501,37.1,S01010501,0.035560,2.7,2.6,2.4,2.5,3.5,4.3
715,715,716,S01010502,0.80,0.85,0.03,S01010502,46957.500000,-4255.665737,S01010502,33.2,S01010502,0.052304,2.5,2.5,2.5,2.6,3.1,4.3
716,716,717,S01010503,0.66,0.74,0.02,S01010503,26000.000000,-25213.165737,S01010503,40.2,S01010503,0.064122,1.8,2.1,2.2,2.0,2.8,4.5

In [78]:
df_16.to_csv('E:/文档/Urban Analytics/Dissertation/Data/df_16.csv')